<ion-view view-title="Search " hide-back-button="true">
    <ion-content class="padding-top">

        <ion-header-bar class="top">
            <button class="button button-icon ion-person" ng-click="checkAccount()"></button>
            <h1 class="title">Search a ride</h1>
            <button class="button button-icon ion-email" ng-click="checkAccount()"></button>
        </ion-header-bar>

        <ion-content padding="true" class="has-header">
            <form id="search-form4" class="list ">
                <label class="item item-input " id="search-input7" name="From">
                    <input type="text" placeholder="From">
                </label>
                <label class="item item-input " id="search-input8" name="To">
                    <input type="text" placeholder="To">
                </label>
                <label class="item item-input " id="search-input9" name="Date">
                    <input type="text" placeholder="Date">
                </label>
            </form>
            <button id="search-button4" class=" button button-positive  button-block ">Search</button>
        </ion-content>

    </ion-content>
</ion-view>