<ion-view title="Propose a Ride" id="page4" class=" ">

    <ion-header-bar class="top">
        <button class="button button-icon ion-person" ng-click="checkAccount()"></button>
        <h1 class="title">Propose A Ride</h1>
        <button class="button button-icon ion-email" ng-click="checkAccount()"></button>
    </ion-header-bar>

    <ion-content padding="true" class="has-header">
        <form id="proposeARide-form6" class="list ">
            <label class="item item-input " id="proposeARide-input11">
                <input type="text" placeholder="From">
            </label>
            <label class="item item-input " id="proposeARide-input12">
                <input type="text" placeholder="To">
            </label>
            <ion-toggle toggle-class="toggle-positive" id="proposeARide-toggle3" class=" ">highway</ion-toggle>
            <ion-toggle toggle-class="toggle-positive" id="proposeARide-toggle4" class=" ">Round trip</ion-toggle>
            <label class="item item-input " id="proposeARide-input14">
                <input type="text" placeholder="Date and hour start">
            </label>
            <label class="item item-input " id="proposeARide-input15">
                <input type="text" placeholder="Dat and hour return">
            </label>
        </form>
        <form id="proposeARide-form7" class="list ">
            <label class="item item-input " id="proposeARide-input16">
                <input type="text" placeholder="Price €">
            </label>
            <label class="item item-input " id="proposeARide-input18">
                <input type="text" placeholder="Number Of Place">
            </label>
        </form>
        <button id="proposeARide-button5" class=" button button-positive button-block " ng-click="addItem()">Add announces</button>
    </ion-content>
</ion-view>