<ion-view title="My Announces" id="page2" class="backImage">
     <ion-content>
         <div class="announces bloc">
             <ion-list class ="announcesList">
                 <ion-item ng-repeat="item in items"  style="padding: 0px; background-color: transparent; border: none; overflow: inherit; padding:0px;">
                     <div class="list card">

                         <div class="item item-body">
                             <h2 style="margin:0px;"><b>{{item.From}} - {{item.To}}</b></h2>
                             <p>{{ getDate(item.DateHourStart) }} - {{item.Price}} €</p>
                         </div>

                         <div class="item item-avatar">
                             <img src="../assets/images/avatar.png"/>

                         </div>
                     </div>
                 </ion-item>
             </ion-list>
         </div>



    </ion-content>
</ion-view>


