<ion-view title="Search " id="page1" class="backImage">

    <ion-header-bar class="bar bar-subheader tem-input-wrapper search" style="background:transparent;">
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" ng-autocomplete ng-model="input.searchText" placeholder="Search announces" >
        </label>
    </ion-header-bar>

    <ion-content>
        <div class="announces bloc">
            <ion-list>

                <ion-item style="padding: 0px; background-color: transparent; border: none; overflow: inherit;">
                    <ion-item class="item-avatar" ng-repeat="item in items | filter:input.searchText"
                              style="padding: 0px; background-color: transparent; border: none; overflow: inherit; padding:0px;">
                        <div class="list card">
                            <div class="item item-body">
                                <h2 style="margin:0px;" >
                                    <b>{{item.FromPlace}} </b> <span class="italique">({{item.FromCountries}})</span> -
                                    <b>{{item.ToPlace}} </b> <span class="italique">({{item.ToCountries}})</span>
                                </h2>
                                <p>{{item.StartDate }} at {{item.StartHour }} - {{item.Price}} €</p>
                            </div>
                            <div class="item item-avatar">
                                <img src="../assets/images/avatar.png"/>
                            </div>
                        </div>
                    </ion-item>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>

